<form [formGroup]="forgotPass" (ngSubmit)="UpdatePassword()" action="/action_page.php">
    <div class="container">
        <h1>Reset password</h1>

        <hr>
        <p><label for="New Password"><b>new password</b></label>
            <input type="text" placeholder="Enter the new password" name="name" id="name" required formControlName="password">
        </p>

        <p><label for="Confirm Password"><b>confirm password</b></label>
            <input type="text" placeholder="Confirm your password" name="name" id="name" required formControlName="cnfPassword">
        </p>

        <button type="submit" class="registerbtn">Reset</button>
    </div>
</form>