
    <form action="/action_page.php">
        <div class="container">
            <h1>Home</h1>
            <!-- <p><a href="#">Home</a></p> -->
            <!--<span>
                <p><a href="#">About Us</a></p>
            </span>-->
            <style>
                body
                {
                    size: 10;
                background-image: url("agriculture.jpg");
                }
            </style>
                
            <div>
                <button type="simple" class="registerbtn">Report</button>
                <button type="simple" class="registerbtn">New Exam</button>
                
            </div>
            
        </div>
    </form>
